
IBHierarchyIntegrator {
  regrid_cfl_interval   = 0.5
  error_on_dt_change = TRUE
}

INSStaggeredHierarchyIntegrator {
  enable_logging = TRUE
  
  tag_buffer = 1
  
  convective_difference_form = "ADVECTIVE"
  using_vorticity_tagging = TRUE
  vorticity_rel_thresh = 0.25
  
  output_U = TRUE
  output_P = TRUE
  output_F = TRUE
  output_Omega = TRUE
  output_Div_U = FALSE
  
  normalize_pressure = TRUE
  
  HelmholtzHypreSolver {
    solver_type           = "Split"
    split_solver_type     = "PFMG"
    relative_residual_tol = 1.0e-12
    max_iterations        = 1
    enable_logging        = FALSE
  }
  
  HelmholtzFACSolver {
    num_pre_sweeps  = 0
    num_post_sweeps = 1
    coarse_solver_choice = "hypre"
    coarse_solver_tolerance = 1.0e-12
    coarse_solver_max_iterations = 1
    prolongation_method = "CONSTANT_REFINE"
    restriction_method  = "CONSERVATIVE_COARSEN"
    hypre_solver {
      solver_type           = "Split"
      split_solver_type     = "PFMG"
      relative_residual_tol = 1.0e-12
      max_iterations        = 1
      enable_logging        = FALSE
    }
  }
  
  PoissonHypreSolver {
    solver_type           = "PFMG"
    rap_type              = 0
    relax_type            = 2
    skip_relax            = 1
    num_pre_relax_steps   = 2
    num_post_relax_steps  = 2
    relative_residual_tol = 1.0e-2
    max_iterations        = 100
    enable_logging        = FALSE
  }
  
  PoissonFACSolver {
    num_pre_sweeps  = 0
    num_post_sweeps = 3
    coarse_solver_choice = "hypre"
    coarse_solver_tolerance = 1.0e-12
    coarse_solver_max_iterations = 1
    prolongation_method = "LINEAR_REFINE"
    restriction_method  = "CONSERVATIVE_COARSEN"
    hypre_solver {
      solver_type           = "PFMG"
      rap_type              = 0
      relax_type            = 2
      skip_relax            = 1
      num_pre_relax_steps   = 0
      num_post_relax_steps  = 3
      relative_residual_tol = 1.0e-12
      max_iterations        = 1
      enable_logging        = FALSE
    }
  }
}
